@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #ffff;
    --destaque: #3a8acb;
    --icones: #001858;
    --letras: #0000;
    --secundaria: #a6a6a6;
    --botoes: #a47754;
    --fonte: "Montserrat", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

.header {
    padding-inline: 16px;
}

.nav {
    background: var(--destaque);
    max-width: 1280px;
    height: 20px;
    font-size: 20px;
    margin-inline: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
     padding: 25px 20px;
}

.fa-house {
    font-size: 20px;
    margin-left: 10px;
}

.menu-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu-list a {
    font-size: 18px;
    color: var(--icones);
    padding-block: 16px;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--icones);
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--icones);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 170px;
    background-color: var(--background);
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.left-content h1 {
    font-size: 4em;
    margin: 0;
    line-height: 1.2;
}

.left-content p {
    font-size: 1.5em;
    margin: 0;
    color: var(--icones);
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--destaque);
    padding: 20px 30px;
    border-radius: 50px;
    gap: 15px;
    color: var(--icones);
    font-size: 1.3rem;
    width: 100%;
    max-width: 500px;
}

.search-bar i {
    font-size: 1.5rem;
}

.search-bar input {
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    width: 250px;
    color: var(--background);
    background: transparent;
    outline: none;
    font-size: 1.2em;
}

.search-bar input::placeholder {
    color: #cde;
}

.search-bar button {
    background-color: var(--botoes);
    color: var(--background);
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 50%;
}

.right-image img {
    max-width: 800px;
    height: auto;
}
@media screen and (min-width: 751px) {
    .hero {
        flex-direction: row;    
        justify-content: space-between;
        align-items: center;
    }
  .right-image {
    display: block;
    position: absolute;
    right: 40px;
    top: 100px;
  }

}
@media screen and (max-width: 750px) {
    .hamburger {
        content: " ";
        display: block;
        position: relative;
        width: 30px;
        height: 3px;
        background: var(--icones);
        cursor: pointer;
        margin-top: -8px;
        z-index: 100;
    }

    .menu-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--destaque);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
        z-index: 10;
    }

    .menu-list a {
        font-size: 24px;
    }

    .menu-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .menu-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .menu-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    .nav {
        margin-top: 10px;
    }
    .nav.active .menu-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .menu-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: var(--destaque);
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
        top: 0;
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        padding: 10px;

    }
    .hero, .left-content {
        position: relative;
        z-index: 1;
    }
    .left-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }
    .left-content h1 {
        font-size: 2em;
        margin-top: 5%;
        line-height: 1.2;
        order: 0;
    }

    .left-content p {
        font-size: 1.2em;
        margin: 0;
        order: 1;
    }


    .search-bar {
        padding: 10px 9px;
        gap: 0px;
        font-size: 1rem;
        width: 100%;
        order: 3;
        max-width: 100%;
    }

    .search-bar i {
        font-size: 0.9rem;
    }

    .search-bar input {
        border: none;
        border-radius: 5px;
        padding: 12px 16px;
        width: 250px;
        color: var(--background);
        background: transparent;
        outline: none;
        font-size: 1em;
    }

    .search-bar input::placeholder {
        color: #cde;
    }

    .search-bar button {
        background-color: var(--botoes);
        color: var(--background);
        border: none;
        width: 30px;
        height: 30px;
        font-size: 0.3em;
        cursor: pointer;
        border-radius: 50%;
    }

    .right-image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .right-image img {
        width: 200px;
    }
}